@import "./fonts";
@import "./variables";
@import "./slick";
@import "./tailwind";
@import "./mobile-menu";
@import "./fancybox";
@import "./main";

body, html{
  position: relative;
}

@layer components {
    body{
        @apply bg-white text-black text-sm leading-[1.5];
    }
    h1, .h1{
        @apply text-[24px] lg:text-[28px] xl:text-[36px] leading-[1.11] font-bold font-jost text-darkblue;
    }
    h2, .h2{
      @apply text-[20px] lg:text-[26px] xl:text-[32px] leading-[1.11] font-semibold font-jost text-darkblue;
    }
    h3, .h3{
      @apply text-[28px] lg:text-[32px] xl:text-[36px] leading-[1.11] font-semibold font-jost text-darkblue;
    }
    h4, .h4{
        @apply text-[18px] lg:text-[20px] leading-[1.11] font-semibold font-jost text-darkblue;
    }
    h5{
        @apply text-[16px] lg:text-[18px] leading-[1.11] font-semibold font-jost text-darkblue;
    }
    p{
        @apply mb-3 sm:mb-6;
    }
    .container{
        @apply mx-auto px-3;
    }

    .container-fluid{
      @apply mx-auto px-8;
    }

    input[type=text], input[type=email], input[type=tel], input[type=url], input[type=number], input[type=password]{
      @apply font-jost text-xs text-darkblue;
      border-radius: 23px;
      width: 100%;
      padding: 12px 23px;
      border: 1px solid #12143E;
    }
    input:focus{
      outline:none!important;
    }
    input::placeholder{
        @apply text-black;
    }
    .select-field{
      color: $black;
      border-radius: 0;
      width: 100%;
      padding: 12px 50px 12px 23px;
      font-size: 16px;
      background-color: #F4F4F4;
      cursor: pointer;
      &::after{
        content: url(../img/dropdown-arrow.svg);
        width: 44px;
        height: 44px;
        position: absolute;
        background-color: $green;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3px;
      }
    }
    .select-wrap{
      position: relative;
      & ul.select-list{
        margin: 0;
        padding: 0;
        background-color: #F4F4F4;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 90;
        display: none;
        & li{
          padding: 12px 23px;
          cursor: pointer;
          &:hover{
            background-color: #fff;
          }
        }
      }
      &:hover ul.select-list{
        display: block;
      }
    }
    textarea{
      color: $black;
      border-radius: 0;
      width: 100%;
      height: 145px;
      padding: 13px 23px;
      font-size: 16px;
      background-color: #F4F4F4;
    }
    textarea:focus{
        outline:none!important;
    }
    textarea::placeholder{
        @apply text-black;
    }

    select{
      color: $black;
      border-radius: 0;
      width: 100%;
      padding: 14px 23px;
      font-size: 12px;
      text-transform: uppercase;
      border: 1px solid $green;
      background-color: #fff;
    }

    a{
      @apply transition-all text-darkblue cursor-pointer underline;
      &:hover{
        @apply text-blue;
      }
    }
    .btn{
      @apply transition-all py-[13px] px-5 text-sm font-medium rounded-3xl inline-block w-[240px] max-w-full text-center cursor-pointer font-jost no-underline;
    }
    .blue-btn{
      @apply text-darkblue bg-blue;
      &:hover{
        @apply bg-darkblue text-white;
      }
    }
    .darkblue-btn{
      @apply text-white bg-darkblue;
      &:hover{
        @apply bg-blue text-darkblue;
      }
    }
    .black-btn{
      color: #fff;
      background-color: $black;
      &:hover{
        color: #fff;
        background-color: #444;
      }
    }
    .outline-btn{
      @apply text-white border-white border;
      &:hover{
        @apply text-darkblue bg-white;
      }
    }  
    .white-btn{
      @apply text-darkblue bg-white;
      &:hover{
        @apply text-white bg-darkblue;
      }
    } 
  }

  .list-disc{
    list-style: none;
    @apply mb-6;
    & li{
      position: relative;
      padding-left: 45px;
      @apply mb-6;
      &:before{
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        @apply bg-blue absolute top-[6px] left-0;
      }
    }
  }

  .menu-button a{
    @extend .btn, .blue-btn;
    @apply no-underline;
    width: 214px;
    &:hover{
      color: #fff!important;
    }
  }

  .home-hero-triangle{
    position: absolute;
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 80px 0 80px 66px;
   border-color: transparent transparent transparent $blue;
   bottom: -256px;
    right: 0;
  }

  .legal-link{
    @apply no-underline;
    display: block;
    border: 2px solid transparent;
    transition: border 0.15s ease-in-out;
    &:hover{
      color: #12143E;
      border: 2px solid #12143E;
    }
  }

  .marked-list{
    padding: 0;
    list-style: none;
    & li{
      position: relative;
      margin-bottom: 28px;
      padding-left: 32px;
      &:before{
        content: url(../img/checkmark-big-circle.svg);
        position: absolute;
        top: 0;
        left: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
#cta{
  background: linear-gradient(#12143E, #12143E 175px, #87CEEB 175px, #87CEEB 100%);
}

footer a{
  @apply no-underline;
}

.footer-menu{
  padding: 0;
  list-style: none;
  & li{
    margin-bottom: 15px;
    & a{
      @apply font-jost text-xs text-darkblue no-underline;
      &:hover{
        @apply text-blue;
      }

    }
  }
}

.footer-phone{
  position: relative;
  padding-left: 45px;
  &::before{
    content: url(../img/phone.svg);
    position: absolute;
    top: -4px;
    left: 0;
  }
}

.footer-email{
  position: relative;
  padding-left: 45px;
  &::before{
    content: url(../img/email.svg);
    position: absolute;
    top: -4px;
    left: 2px;
  }
}

.footer-address{
  position: relative;
  padding-left: 45px;
  &::before{
    content: url(../img/address.svg);
    position: absolute;
    top: -4px;
    left: 0;
  }
}

.page-title-triangle{
  position: absolute;
 width: 0px;
 height: 0px;
 border-style: solid;
 border-width: 80px 0 80px 66px;
 border-color: transparent transparent transparent $blue;
 bottom: -176px;
  right: 0;
}

.service-data-wrap{
  display: none;
  &.active{
    display: block;
  }
}

.blog-wrap > a{
  display: block;
}

.blog-thumbnail{
  background-position: center;
  background-size: cover;
  aspect-ratio: 375/265;
  margin-bottom: 42px;
}

#entry-content p{
  text-align: justify;
}

#entry-content h2, #entry-content h3, #entry-content h4, #entry-content h5{
  @apply mb-6;
}

#entry-content .marked-list{
  @apply mb-6;
}

@import "./media";