@import "./fonts";
@import "./variables";
@import "./slick";
@import "./tailwind";
@import "./mobile-menu";
@import "./fancybox";
@import "./main";

body, html{
  position: relative;
}

@layer components {
    body{
        @apply bg-white text-black text-sm leading-[1.5];
    }
    h1, .h1{
        @apply text-[24px] lg:text-[28px] xl:text-[36px] leading-[1.11] font-bold font-jost text-darkblue;
    }
    h2, .h2{
      @apply text-[20px] lg:text-[26px] xl:text-[32px] leading-[1.11] font-bold font-jost text-darkblue;
    }
    h3, .h3{
      @apply text-[28px] lg:text-[32px] xl:text-[36px] leading-[1.11] font-bold font-jost text-darkblue;
    }
    h4, .h4{
        @apply text-[20px] lg:text-[24px] xl:text-[26px] leading-[1.2] font-bold font-jost text-darkblue;
    }
    h5{
        @apply text-[16px] lg:text-[18px] font-bold leading-[1.11] font-jost text-darkblue;
    }
    p{
        @apply mb-3 sm:mb-8;
    }
    .container{
        @apply mx-auto px-3;
    }

    .container-fluid{
      @apply mx-auto px-8;
    }

    input[type=text], input[type=email], input[type=tel], input[type=url], input[type=number], input[type=password]{
      color: $black;
      border-radius: 0;
      width: 100%;
      padding: 12px 23px;
      font-size: 16px;
      background-color: #F4F4F4;
    }
    input:focus{
      outline:none!important;
    }
    input::placeholder{
        @apply text-black;
    }
    .select-field{
      color: $black;
      border-radius: 0;
      width: 100%;
      padding: 12px 50px 12px 23px;
      font-size: 16px;
      background-color: #F4F4F4;
      cursor: pointer;
      &::after{
        content: url(../img/dropdown-arrow.svg);
        width: 44px;
        height: 44px;
        position: absolute;
        background-color: $green;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3px;
      }
    }
    .select-wrap{
      position: relative;
      & ul.select-list{
        margin: 0;
        padding: 0;
        background-color: #F4F4F4;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 90;
        display: none;
        & li{
          padding: 12px 23px;
          cursor: pointer;
          &:hover{
            background-color: #fff;
          }
        }
      }
      &:hover ul.select-list{
        display: block;
      }
    }
    textarea{
      color: $black;
      border-radius: 0;
      width: 100%;
      height: 145px;
      padding: 13px 23px;
      font-size: 16px;
      background-color: #F4F4F4;
    }
    textarea:focus{
        outline:none!important;
    }
    textarea::placeholder{
        @apply text-black;
    }

    select{
      color: $black;
      border-radius: 0;
      width: 100%;
      padding: 14px 23px;
      font-size: 12px;
      text-transform: uppercase;
      border: 1px solid $green;
      background-color: #fff;
    }

    a{
      @apply transition-all text-green;
      &:hover{
        @apply text-black;
      }
    }
    .btn{
      @apply transition-all py-[13px] px-5 text-sm font-medium rounded-3xl inline-block w-[240px] max-w-full text-center cursor-pointer font-jost;
    }
    .blue-btn{
      @apply text-darkblue bg-blue;
      &:hover{
        @apply bg-darkblue text-white;
      }
    }
    .black-btn{
      color: #fff;
      background-color: $black;
      &:hover{
        color: #fff;
        background-color: #444;
      }
    }
    .outline-btn{
      @apply text-white border-white border;
      &:hover{
        @apply text-darkblue bg-white;
      }
    }  
  }

  .menu-button a{
    @extend .btn, .blue-btn;
    width: 214px;
    &:hover{
      color: #fff!important;
    }
  }

  .home-hero-triangle{
    position: absolute;
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 80px 0 80px 66px;
   border-color: transparent transparent transparent $blue;
   bottom: -256px;
    right: 0;
  }

  .marked-list{
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
    & li{
      position: relative;
      margin-bottom: 30px;
      padding-left: 32px;
    }
  }

@import "./media";